<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tabs/spaceships">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>{{ starship.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="starship">
    <ion-card-content>
      Name: {{ starship.name }}
    </ion-card-content>
    <ion-card-content>
      Model: {{ starship.model }}
    </ion-card-content>
    <ion-card-content>
      Length: {{ starship.length }}
    </ion-card-content>
    <ion-card-content>
      Passengers: {{ starship.passengers}}
    </ion-card-content>

  </ion-card>
</ion-content>