<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" defaultHref="/tabs/species">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>{{species.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="species" class="specie-info">
    <ion-card-content>
      Classification: {{ species.classification }}
    </ion-card-content>
    <ion-card-content>
      Average height: {{ species.average_height }}
    </ion-card-content>
    <ion-card-content>
      Life-span: {{ species.average_lifespan}}
    </ion-card-content>

  </ion-card>
</ion-content>
